{{> head }}

{{> navbar }}

    <h1>GlucoHistory</h1>
    <small>{{ owner }}</small>

    <hr>

    <a id="btn-clickme" href="?readGluco=true">clickme</a>
    <div id="response">{{ data }}</div>

{{> footer }}